<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="main.css">
  <title>Diet Plan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <script src = "../scripts/logout.js"></script>
</head>
<body>
    <div class="wrapper">
        <header><h1>MyFit</h1></header>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="fitnessTest.html">Your Fitness</a></li>
                    <li><a href="workouts.html">Workout Plan</a></li>
                    <li><a class="active" href="diets.html">Diet Plan</a></li>
                    <li><a href="progress.html">Progress</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="information.html">Account</a></li>
                    <li><button class="logout-button" id="logout">Log Out</button></li>
                </ul>
            </nav>
        </div>
        
        <section class="main">
            <h2>Diet Plan</h2>
            <div class = "description">
                To achive your goal you must eat <span id="totalCalories">___</span> calories a day. Check food lables to confirm the amount of calories in each food item.
            </div>
            <br><br>
            <section class="table-container">
                <table id="dietTable">
                    <tr>
                        <th>
                          Protein
                        </th>
                        <th>
                          Fat
                        </th>
                        <th>
                            Carbs
                          </th>
                          <th>
                            Water
                          </th>
                          <th>
                            Fiber
                          </th>
                      </tr>
                </table>
              </section>
        </section>
    </div>
    <script src = "../scripts/getDiet.js" ></script>
</body>
</html>
