<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="main.css">
  <title>Fitness Test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
</head>
<body>
  <div class="wrapper">
    <section class="main">
      <input class="button logout-button" id="logout" value="Log Out">
      <form id="fitnessTestForm" class="form-style">
        <label for="fitGoal">What is your fitness goal?</label><br>
        <select id="fitGoal" name="fitGoal">
          <option value="" disabled selected>Select Goal</option>          <option value="Lose Fat">Lose Fat</option>
          <option value="Build Muscle">Build Muscle</option>
          <option value="Build Strength">Build Strength</option>
        </select><br><br>
        
        <label for="gender">What is your gender?</label><br>
        <select id="gender" name="gender">
          <option value="" disabled selected>Select Gender</option>          
          <option value="m">Male</option>
          <option value="f">Female</option>
        </select><br><br>

        <label for="curWeight">What is your current weight in lbs?</label><br>
        <input type="text" id="curWeight" name="curWeight" placeholder="Your weight..."><br><br>
        
        <label for="goalWeight">What is your goal weight in lbs?</label><br>
        <input type="text" id="goalWeight" name="goalWeight" placeholder="Your goal weight..."><br><br>
        
        <label for="height">What is your height?</label><br>
        <input type="text" id="height" name="height" placeholder="Your current max..."><br><br>
        
        <label for="clientAge">What is your age?</label><br>
        <input type="text" id="clientAge" name="clientAge" placeholder="Your goal max..."><br><br>

        <label for="fitnessLevel">What is your current fitness level (1 being beginner and 5 being master)?</label><br>
        <div class="checkboxes">
          <label for="level1"><input type="radio" name="fitnessLevel" id="level1" value="1"> 1</label>
          <label for="level2"><input type="radio" name="fitnessLevel" id="level2" value="2"> 2</label>
          <label for="level3"><input type="radio" name="fitnessLevel" id="level3" value="3"> 3</label>
          <label for="level4"><input type="radio" name="fitnessLevel" id="level4" value="4"> 4</label>
          <label for="level5"><input type="radio" name="fitnessLevel" id="level5" value="5"> 5</label>
        </div>
        <input class="button" type="submit" name="submit" value="Submit">
      </form>
    </section>
  </div>
  <script src="../scripts/postFitTest.js"></script>
</body>
</html>
