<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="index.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="index-wrap">
    <div id="index">
      <h1>
        My Fit
      </h1>
      <h2>
        My Journey, My Fitness, My Way
      </h2>
      <hr>
      <br>
      <button>
        Log In
      </button>

    </div>
    <br>
    <div id="create-account-wrap">
      <p>Don't have an account? <a href="#">Register</a><p>
    </div>
  </div>
</body>
</html>

<script>
  const form = document.getElementById('myForm');
  
  form.addEventListener('submit', function(event) {
  
  event.preventDefault(); // Prevent default form submission
      
          //const payload = new FormData(form);
          //console.log(...payload);
          const data = {
          name: "Phillip",
          age: 23,
          current_Weight: 180,
          goal: 200,
          goal_Weight: 200,
          goal_Max: 200
          }
          fetch('/bio', {
              method: "POST",
              headers: {
              'Content-Type': 'application/json'
              },
              body: JSON.stringify(data),
          })
          .then(res => res.json())
          .then(data=> console.log(data))
          .catch(err => console.log(err));
      });
  </script>