
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Personal Information</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="main.css">

</head>
<body>
  <div class="wrapper">
    <header><h1>MyFit</h1></header>
    <div class="navbar">
        <nav>
            <ul>
                <div>
                    <li><a href="fitnessTest.html">Your Fitness</a></li>
                    <li><a href="workouts.html">Workout Plan</a></li>
                    <li><a href="diets.html">Diet Plan</a></li>
                    <li><a href="progress.html">Progress</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a class="active" href="information.html">Account</a></li>
                </div>
                <div class="log-out" id = "logout">
                  <li><a href="login.html">Log Out</a></li>
                  </div>
            </ul>
        </nav>
    </div>

    <section class="main">
      <h2>Personal Info</h2>
      <hr>
      <section class="table-container">
        <table>
          <tr>
            <td>Name:</td>
            <td id="clientNameOutput">
            </td>
          </tr>
          <tr>
            <td>Age:</td>
            <td id="clientAgeOutput">
            </td>
          </tr>
          <tr>
            <td>Current weight:</td>
            <td id="curWeightOutput">
            </td>
          </tr>
          <tr>
            <td>Goal weight:</td>
            <td id="goalWeightOutput">
            </td>
          </tr>
          <tr>
            <td>Height:</td>
            <td id="heightOutput">
            </td>
          </tr>
          <tr>
            <td>Gender:</td>
            <td id="genderOutput">
            </td>
          </tr>

        </table>
      </section>      
      <form id="changeAccount">
        <a href="#popup-box-1">
          <input class="button" type="button" id="change" value="Update Account">
        </a>
      </form>
    </section>
  </div>

  <div id="popup-box-1" class="modal">
    <div class="content">
      <h2>
        Update Account Inforation
      </h2>
      <p>
      <form id = "updateAccountInput">
          <input type="text" id="clientNameInput" name="clientName" placeholder = "Name" required><i class="validation"><span></span><span></span></i>
        <br>    
          <input type="text" id="clientAgeInput" name="clientAge" placeholder = "Age" required><i class="validation"><span></span><span></span></i>   
      </form>
      </p>
      <div class="row">
        <div class="column popup_col">
            <input type="button" id="updateAccButton" value="Update">
        </div>
        <div class="column popup_col">
          <form id = "deleteAccount"> <!--Have this open another popup to confirm-->
            <input type="button" id="delete" value="Delete Account">
          </form>


        </div>
      </div>
        <a
            href="#"
            style="
                position: absolute;
                top: 10px;
                right: 10px;
                color: #fe0606;
                font-size: 30px;
                text-decoration: none;
            ">&times;</a>
    </div>
    <script src="../scripts/populateInfo.js"></script>
    <script src="../scripts/deleteAccount.js"></script>
    <script src = "../scripts/updateAccount.js"></script>
    <script src="../scripts/logout.js"></script>

</body>
</html>