<!DOCTYPE html>
<html lang="en">
<head>
  <title>Personal Information</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div class="wrapper">
    <section class="main">
      <h2>Personal Info</h2>
      <hr>
      <section class="table-container">
        <table>
          <tr>
            <td>Name:</td>
            <td id="clientName">John Doe</td>
          </tr>
          <tr>
            <td>Age:</td>
            <td id="clientAge">35</td>
          </tr>
          <tr>
            <td>Current weight:</td>
            <td id="curWeight">250 lbs</td>
          </tr>
          <tr>
            <td>Goal weight:</td>
            <td id="goalWeight">200 lbs</td>
          </tr>
          <tr>
            <td>Current max:</td>
            <td id="curMax">50 lbs</td>
          </tr>
          <tr>
            <td>Goal max:</td>
            <td id="goalMax">100 lbs</td>
          </tr>
          <tr>
            <td>Fitness goal:</td>
            <td id="fitGoal">Lose Fat</td>
          </tr>
        </table>
      </section>

      <h2>Fitness and Diet Plans</h2>
      <hr>
      <section class="table-container">
        <table>
          <tr>
            <th>
              Day
            </th>
            <th>
              Workout
            </th>
            <th>
              Diet
            </th>
          </tr>
          <tr>
            <td>
              Monday
            </td>
            <td>
              do this today
            </td>
            <td>
              Eat this today
            </td>
          </tr>
          <tr>
            <td>
              Tuesday
            </td>
            <td>
              do this today
            </td>
            <td>
              Eat this today
            </td>
          </tr>
          <tr>
            <td>
              Wednesday
            </td>
            <td>
              do this today
            </td>
            <td>
              Eat this today
            </td>
          </tr>
          <tr>
            <td>
              Thursday
            </td>
            <td>
              do this today
            </td>
            <td>
              Eat this today
            </td>
          </tr>
          <tr>
            <td>
              Friday
            </td>
            <td>
              do this today
            </td>
            <td>
              Eat this today
            </td>
          </tr>
          <tr>
            <td>
              Saturday
            </td>
            <td>
              do this today
            </td>
            <td>
              Eat this today
            </td>
          </tr>
          <tr>
            <td>
              Sunday
            </td>
            <td>
              do this today
            </td>
            <td>
              Eat this today
            </td>
          </tr>
        </table>
      </section>

      <form id="updateInfo">
        <input class="button" type="button" id="update" value="Update Goal">
      </form>
      <form id="changeAccount">
        <input class="button" type="button" id="change" value="Update Account">
      </form>
    </section>
  </div>
  <script src="../scripts/info.js"></script>
</body>
</html>
