<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="main.css">
<body>
  <div class="wrapper">
    <section class="main">
      <h2>Login</h2>

      <form id="loginUsername" class="form-style">
        <input type="text" id="logUsername" name="logUsername" placeholder="Username" required><br><br>
        <input type="password" id="logPassword" name="logPassword" placeholder="Password" required><br><br>
        <input class="button" type="submit" id="login" value="Login">
      </form>
      
      <div id="create-account-wrap">
        <p>Don't have an account? <a href="register.html">Register</a></p>
      </div>
    </section>
  </div>
</body>
</html>
<script src="../scripts/login.js"></script>