body {
    background-color: #e7e6e6;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #840202;
    width: 100%;
    padding: 10px 0;
    color: #fff;
}

h1 {
    font-size: 2rem;
}

h2 {
    text-align: center;
    color: #840202;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

.navbar li a:hover:not(.active) {
    background-color: #555;
}

.navbar li:last-child {
    float: right;
}

.navbar li:last-child button.logout-button {
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 15px 16px;
    margin: 0;
    text-decoration: none;
    transition: background-color 0.5s ease;
    cursor: pointer;
    font-size: inherit;
}

.navbar li:last-child button.logout-button:hover {
    background-color: #555;
}

.active {
    background-color: #ac0202;
}



.main {
    margin: 20px auto;
    width: 90%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 30px;
}

p {
    position: relative;
    text-align: left;
    color: black;
}

.form-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2px;
}

select {
    width: 100%;
    color: rgb(101, 100, 100);
    font-style: normal;
    font-size: 16px;
    border: 2px solid #c2c0ca;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    margin-bottom: 20px;
}

select:focus {
    border: 2px solid black;
}

input[type=radio] {
    border: 2px;
    width: 150%;
    height: 2em;
    margin: auto;
}

.center{
    margin: auto;
    width: 50%;
}

.dropdown{
    height: 60px;
}

.heightDrop{
    height: 60px;
    width: 15%;
}
.logout-button{
    border: none;
    width: 150px;
    margin-left: 760px;
    background-color: #840202;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    text-align: center;
}

input, textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    margin-bottom: 20px;
}

textarea {
    height: 150px;
    resize: vertical;
}

label {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 0 0 0 10px;
    margin-bottom: 20px;
    color: black;
    border: 2px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;
}

input:focus {
    border-color: black;
}

.button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #840202;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    text-align: center;
}

.button:hover {
    background-color: #5f0303;
}

.checkboxes {
    text-align: center;
    margin-right: 17px;
    margin-bottom: 25px;
}

.checkboxes input {
    margin-bottom: 1px;
    padding-bottom: 1px;
}

.checkboxes label {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    margin-bottom: 0;
    margin-right: 20px;
}

.table-container {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 300px;
}

table {
    margin: 0 0 40px 0;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

table th, table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #999;
}

table th {
    background-color: #812525;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

a,
a:link,
a:visited,
a:active,
a:focus,
a:hover {
    color: #840202;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
}

#create-account-wrap {
    color: #8a8b8e;
    font-size: 14px; 
    margin-top: 10px; 
    padding: 10px;
    border-radius: 5px;
}

#create-account-wrap p {
    text-align: center;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(116, 116, 116, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    background: white;
    padding: 1em 2em;
    border-radius: 6px;
}

.modal:target {
    display: flex;
}

@media screen and (min-width: 376px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .main {
        margin: 60px auto;
        flex: 1;
    }

    header {
        font-size: 18px;
        padding: 8px 0;
    }

   .navbar li {
    float: left;
   }

   .log-out {
    float: right;
    }

    .main {
        width: 80%;
        padding: 15px;
        
    }

    .table-container {
        max-width: none;
        border: none;
        padding: 0;
        border-radius: 0;
        overflow-x: auto;
        overflow-y: auto;
        max-height: none;
    }

    .checkboxes {
        margin-right: 150px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 769px) {
    .wrapper {
        background-color: #ffffff;
        border: 1px solid #000000;
        box-shadow: 0px 0px 10px #000000;
        padding: 2em;
        margin: 30px auto;
        width: 75%;
        border-radius: 5px;
        padding: 0;
    }

    body {
        background-color: #9f9da7;
    }

    header {
        font-size: 20px;
    }

    .navbar {
        font-size: 18px;
    }

    .main {
        margin: auto;
        padding: 20px;
    }
    
    .table-container {
        max-width: none;
        border: none;
        padding: 0;
        border-radius: 0;
        overflow-x: auto;
        overflow-y: auto;
        max-height: none;
    }

    .button {
        padding: 10px 20px;
    }

    .checkboxes {
        text-align: center;
        margin-right: 220px;
    }
    
    .checkboxes label {
        display: inline-block;
        cursor: pointer;
        padding: 5px;
        margin: 5px;
        margin-bottom: 0;
        margin-right: 20px;
    }
}
