<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Register</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<div class="wrapper">
  <section class="main">
    <h2>Register</h2>
        <form id = registrationForm class="form-style">
          <input type="text" id="clientName" name="clientName" placeholder="Name" required><br><br>
          <input type="text" id="clientAge" name="clientAge" placeholder="Age" required><br><br>
          <input type="text" id="regUsername" name="regUsername" placeholder="Username" required><br><br>
          <input type="email" id="regEmail" name="regEmail" placeholder="Email Address" required><br><br>
          <input type="password" id="regPassword" name="regPassword" placeholder="Password" required><br><br>
          <input type="password" id="regPassword2" name="regPassword2" placeholder="Password Again" required><br><br>
          <input class="button" type="submit" id="register" value="Register">
        </form>
  </section>
</div>
<script src="../scripts/registerUser.js"></script>
</body>
</html>
