<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Update Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<div class="wrapper">
    <section class="main">
        <h2>Update Information</h2>
            <form id="updateInfoForm" class="form-style">
                <input type="text" id="updateUsername" name="updateUsername" placeholder="Username" required><br><br>
                <input type="email" id="updateEmail" name="updateEmail" placeholder="Email Address" required><br><br>
                <input type="password" id="updatePassword" name="updatePassword" placeholder="Password" required><br><br>
                <input type="password" id="updatePassword2" name="updatePassword2" placeholder="Password Again" required><br><br>
                <input class="button" type="submit" id="update" value="Update Account">
            </form>
            <input class="button" type="submit" id="delete" value="Delete Account">
    </section>
</div>
<script src="../scripts/update.js"></script>
</body>
</html>
