<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src="../scripts/healthAnalytics.js"></script>
  <title>Workout Plan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
</head>
<body>
    <div class="wrapper">
        <header><h1>MyFit</h1></header>
        <div class="navbar">
            <nav>
                <ul>
                    <div>
                        <li><a href="fitnessTest.html">Your Fitness</a></li>
                        <li><a class="active" href="workouts.html">Workout Plan</a></li>
                        <li><a href="diets.html">Diet Plan</a></li>
                        <li><a href="progress.html">Progress</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="information.html">Account</a></li>
                    </div>
                    <div class="log-out">
                    <li><a href="logout.html">Log Out</a></li>
                    </div>
                </ul>
            </nav>
        </div>

        <section class="main">
            <h2>Workout Plan</h2>
            <div class = "description">
                Below is your given workout. To maximize results, do this at least three times a week, follow your diet plan, and get adequate rest.
            </div>
            <br><br>
            <section class="table-container">
                <table id="workoutTable">
                    <tr>
                        <th>
                          Exercise
                        </th>
                        <th>
                          Reps/Duration
                        </th>
                        <th>
                          Rest Time
                        </th>
                      </tr>
                </table>
              </section>
        </section>
    </div>
</body>
</html>
